@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --font-sans: 'Inter','Inter-fallback', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-black: #060606;

    --text-2xs: .625rem;
    --text-2xs--line-height: 1rem;

}


@layer components {
    .file-upload {
        @apply block w-full text-sm text-gray-700
        file:mr-4
        file:rounded-md
        file:border-0
        file:bg-gray-400
        file:px-4
        file:py-2
        file:text-sm
        file:font-medium
        file:text-white
        hover:file:bg-gray-500;
    }
}
